<div class="container mt-5">
  <br>
</div>

<div class="container mt-5 fixed-top">
  <form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm)">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
        aria-describedby="basic-addon2" name="searchQuery" ngModel #searchQuery="ngModel" />
      <button class="btn btn-outline-secondary bg-black" type="submit" id="button-addon2">Search</button>
    </div>
  </form>
</div>
<br>
<br>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <label for="pageInput" class="form-label h5">Page Number:</label>
      <input type="number" class="form-control" id="pageInput" [(ngModel)]="currentPage" name="pageInput" min="1" max ="5">
    </div>
    <!-- <div class="col-md-4">
      <label for="sizeInput" class="form-label h5">Page Size:</label>
      <input type="number" class="form-control" id="sizeInput" [(ngModel)]="pageSize" name="sizeInput" min="0">
    </div> -->
    <div class="col-md-4">
      <button class="btn btn-primary mt-4" (click)="getMovies()">Apply</button>
    </div>
  </div>
</div>


<div *ngIf="loading else moviesList" class="container mt-3">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<ng-template #moviesList>
  <div *ngIf="!loading" class="container mt-5">
    <h2 class="text-white">{{categoryTitle}}</h2>
    <div class="row row-cols-2 row-cols-md-4 g-4">
      <div class="col mb-4" *ngFor="let movie of receivedMovies">
        <mat-card class="card">
          <img mat-card-image [src]="imgUrl + movie.poster_path" alt="Movie Poster" (click)="onMovieClicked(movie.id)">

          <mat-card-content>
            <h4>{{ movie.title }}</h4>
            <p>{{ truncateOverview(movie.overview) }}</p>
            <span *ngIf="movie.overview.length > 170 && !showMore[getIndex(movie)]">
              <a (click)="toggleSeeMore(getIndex(movie))">See more</a>
            </span>
            <span *ngIf="movie.overview.length > 170 && showMore[getIndex(movie)]">
              <a (click)="toggleSeeMore(getIndex(movie))">See less</a>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
